<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8"/>
		<title>Image editor</title>

		<!-- Google web fonts -->
		<link href="http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700" rel='stylesheet' />

		<!-- The main CSS file -->
		<link href="/static/uploader/assets/css/style.css" rel="stylesheet" />
	</head>

	<body>
        <img href="/static/uploader/assests/test.jpg">

		<!--<footer>
                    <h4 style="text-align:center"> Developed by by SairamKolla & Mohammed Sharfuddin </h4>
		</footer>-->

		<!-- JavaScript Includes -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script src="/static/uploader/assets/js/jquery.knob.js"></script>

		<!-- jQuery File Upload Dependencies -->
		<script src="/static/uploader/assets/js/jquery.ui.widget.js"></script>
		<script src="static/uploader/assets/js/jquery.iframe-transport.js"></script>
		<script src="static/uploader/assets/js/jquery.fileupload.js"></script>

		<!-- Our main JS file -->
		<script src="/static/uploader/assets/js/script.js"></script>



	</body>
</html>